<ion-header [translucent]="true">
  <!-- will be visible by default if you do not have other ion-header with condense in ion-content -->
  <ion-toolbar>
    <ion-title>Contact Manager App+</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <swiper-container class="mySwiper" navigation="true">
    <swiper-slide>
      <div class="slide">
        <img src="https://via.placeholder.com/150/771796" alt="" />
        <h2>Welcome</h2>
        <p>
          The <b>ionic contact manager app</b> is a practical preview of the ionic framework in action, and a
          demonstration of proper code use.
        </p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slide">
        <img src="https://via.placeholder.com/150/771796" alt="" />
        <h2>What is Ionic?</h2>
        <p>
          <b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps
          with web technologies like HTML, CSS, and JavaScript.
        </p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slide">
        <img src="https://via.placeholder.com/150/771796" alt="" />
        <h2>What is Appflow?</h2>
        <p>
          <b>Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a
          totally new level of app development agility to mobile dev teams.
        </p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slide">
        <img src="https://via.placeholder.com/150/771796" alt="" />
        <h2>What is Appflow?</h2>
        <p>
          <b>Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a
          totally new level of app development agility to mobile dev teams.
        </p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slide">
        <img src="https://via.placeholder.com/150/771796" alt="" />
        <h2>Browse Contacts</h2>
        <ion-button fill="clear" routerLink="/contacts">Continue
          <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </div>
    </swiper-slide>
  </swiper-container>


</ion-content>